.container{
    width: 90%;
    /* max-height: sirve para delimitar la imagen al igual que min-height */
    min-height: 500px;
    margin: 0 auto;
    border: 2px solid black;
    display: flex;
    /*espacio entre elementos*/
    justify-content: space-around;
    /*hace que los elementos se bajen*/
    flex-wrap: wrap;
    align-items: center ;
    
}
.caja{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    
}
.caja1{
    border: 2px solid red;
}
.caja2{
    border: 2px solid yellow;
    align-self: flex-end;
}
.caja3{
    border: 2px solid green;
}
.caja4{
    border: 2px solid pink;
}